body, html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background-color: #eee;
}

svg line {
	stroke: grey;
	stroke-width: 5;
}

#relojDigital {
  background-color: #FFF;
  font-family: sans-serif;
  font-size: 0.75em;
  stroke: #db4e36;
}

#relojAnalogico {
	height: 100%;
	width: 100%;
}

#decimas {
	stroke: #00b0f6;
	stroke-width: 0.5;
}

#corona {
	stroke: #db4e36;
	stroke-width: 3;
}

#coronita {
	stroke: #db4e36;
	stroke-width: 1;
}

#horario {
	stroke-width: 5;
}

#minutero {
	stroke-width: 3;
}

#segundero {
	stroke-width: 1;
}