body {
	color: #003366;
}

#divWrapper {	
	width: 100%;	
}

#divWrapper td {
	border: 1px solid #003366;
	padding: 5px;
}

#divWrapper tr.odd {
	background-color: #99CCFF;
}

#divWrapper tr.even {
	background-color: #FFFF99;
}